<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top my-navbar" th:fragment="navbar">
	<div class="container-fluid">
		<div class="d-flex w-100 justify-content-between align-items-center">
			<!-- TITLE -->
			<a class="navbar-brand d-flex align-items-center" sec:authorize="hasAuthority('ADMIN')"
				href="/admin/index"><span class="me-2"><img th:src="@{/img/paperella.png}" alt="paperella"></span> My
				Ticket Platform </a>

			<a class="navbar-brand d-flex align-items-center" sec:authorize="hasAuthority('OPERATOR')"
				th:href="@{/operator/dettagli_operatore/{id}(id=${operatorId})}"><span class="me-2"><img
						th:src="@{/img/paperella.png}" alt="paperella"></span> My
				Ticket Platform </a>

			<!-- MASCOTTE -->
			<div class="d-flex justify-content-center flex-grow-1 align-items-center">
				<button id="monkeyButton" class="btn monkey-button" style='font-size:25px;'>&#128584;</button>
			</div>

			<!-- MENU BUTTON -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<!-- MENU COLLAPSE -->
		<div class="collapse navbar-collapse justify-content-end text-center" id="navbarNavAltMarkup">

			<!-- NAV ITEMS -->
			<div class="container-fluid">
				<div class="row justify-content-center align-items-center">

					<!-- COLLAPSE MENU (Visible only on small screens) -->
					<div class="col-12 text-center 					custom-dropdown-menu">
						<span class="nav-link d-lg-none mt-3">
							<span style="color: blue;" th:text="${#authentication.principal.name}">Nome</span>
							<span style="color: blue;" th:text="${#authentication.principal.surname}">Cognome</span>
							<span style="color: blue;" sec:authentication="principal.authorities"></span>
							<!-- Logout button -->
						</span>
						<a class="nav-link d-lg-none mt-3" style="color: red;"
							href="/logout"><strong>Logout</strong></a>
					</div>
					<!-- Home Link -->
					<div class="col-12 text-center">
						<a class="nav-link d-lg-none mt-3" href="/admin/index"
							sec:authorize="hasAuthority('ADMIN')"><strong>Home</strong></a>
						<a class="dropdown-item" href="/operator/lista_operatori"
							sec:authorize="hasAuthority('ADMIN')"><strong>Operatori</strong></a>
						<a class="nav-link d-lg-none mt-3"
							th:href="@{/operator/dettagli_operatore/{id}(id=${operatorId})}"
							sec:authorize="hasAuthority('OPERATOR')"><strong>Home</strong></a>

					</div>

					<!-- LOGGED USER only large screen -->
					<div class="container d-none d-lg-block me-3">
						<div class="row justify-content-end align-items-center">
							<div class="col-auto d-flex align-items-center">
								<div class="me-3" style="color: blue; white-space: nowrap;">
									<span th:text="${#authentication.principal.name}">Nome</span>
									<span th:text="${#authentication.principal.surname}">Cognome</span>
									<span sec:authentication="principal.authorities"></span>
								</div>
								<!-- DROPDOWN MENU LOGGED USER (Visible only on large screens) -->
								<div class="dropdown">
									<button class="btn btn-primary dropdown-toggle" type="button"
										id="loggedUserDropdown" data-bs-toggle="dropdown" aria-expanded="false">
										<strong>Menu</strong>
									</button>
									<ul class="dropdown-menu" aria-labelledby="loggedUserDropdown">
										<!-- Logout button -->
										<li><a style="color: red;" class="dropdown-item"
												href="/logout"><strong>Logout</strong></a></li>
										<!-- Home Link -->
										<li><a class="dropdown-item" href="/admin/index"
												sec:authorize="hasAuthority('ADMIN')"><strong>Home</strong></a></li>
										<li> <a class="dropdown-item"
												th:href="@{/operator/dettagli_operatore/{id}(id=${operatorId})}"
												sec:authorize="hasAuthority('OPERATOR')"><strong>Home</strong></a>
										</li>
										<li><a class="dropdown-item" href="/operator/lista_operatori"
												sec:authorize="hasAuthority('ADMIN')"><strong>Operatori</strong></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
</nav>