<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ticket Platform</title>

    <!-- FAVICON -->
	<link rel="icon" th:href="@{/img/paperella.png}" type="image/png">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">

</head>

<body>

    <!-- CLASSE PER IMPORRE AL FOTTER DI STARE IN FONDO ALLA PAGINA -->
    <div class="wrapper title-top-margin">

        <!-- HEADER -->
        <header>
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </header>

        <!-- MAIN -->
        <main>

        </main>

        <!-- FOOTER -->
        <footer>
            <div th:insert="~{fragments/footer :: footer}"></div>
        </footer>

    </div>

    <!-- PERSONAL JS -->
    <script th:src="@{/JS/myscript.js}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>

</html>